<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <style>
    body {
      background-color: #222222;
    }

    h1 {
      color: #fff;
    }

    #texto {
      text-align: center;
      margin: 20%;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: #6513e0;
      font-size: 50px;
    }
  </style>
  <div id="texto">
    <h1>Olá, mundo!</h1>
    <h1>Olá, Django!</h1>
    <a href="/contato">contato</a>
  </div>
</body>

</html>